.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.progress-images {
    display: flex;
    overflow-x: auto;
}

.progress-item {
    margin-right: 10px;
}

.scan-upload, .recent-report {
    margin-top: 20px;
}

.sidebar {
    position: fixed;
    top: 20px;
    left: 10px;
}

.sidebar ul {
    display: none;
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}
